<div class="col-sm-3 col-sm-6">
  <div class="card-group">
    <div class="card">
      <img
        class="card-img-top"
        src="LoginLogo.png"
        class="rounded mx-auto d-block"
        alt="Card image cap"
        height="600px"
        width="10px"
      />
      <p>Commango is a company management system designed to streamline and
        simplify the daily operations of your business. With a user-friendly
        interface and a variety of tools, Commango makes it easy to manage your
        employees, and projects. Our software offers a wide range of features,
        including tasks, products, and people management. Choose Commango and
        manage your company efficiently and effectively, with everything in one
        place.
      </p>
    </div>
  </div>
</div>