<h1>Delete human</h1>
<p>Do you really want to delete {{human.firstname}} {{human.lastname}} ?</p>
<form action="/humans/{{human.id}}/delete" method="post">
  <input type="submit" value="Delete it!" />
</form>